<footer class="footer mt-auto">
    <div class="container">
        <div class="row g-4 text-start">
            <div class="col-md-4">
                <h5>SmartAutoParts</h5>
                <p>
                    Поиск инструкций и видеоматериалов
                    по оригинальному номеру автозапчасти.
                </p>
            </div>

            <div class="col-md-4">
                <h5>Ссылки</h5>
                <ul class="list-unstyled footer-links">
                    <li>
                        <a href="{% url 'home' %}">Главная</a>
                    </li>
                    <li><a href="#">Инструкции</a></li>
                    <li><a href="#">Видео</a></li>
                    <li><a href="#pricing">Тарифы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li>
                        <a href="{% url 'license_agreement' %}">
                            Лицензионное соглашение
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Контакты</h5>
                <address>
                    <p class="mb-2">
                        г. Ростов-на-Дону, ул. Примерная, 123
                    </p>
                    <p class="mb-2">
                        Тел.: +7 (863) 123-45-67
                    </p>
                    <p class="mb-0">
                        Email: info@smartautoparts.ru
                    </p>
                </address>
            </div>
        </div>

        <hr class="my-4">

        <div class="text-center">
            <small>
                © 2026 SmartAutoParts. Все права защищены.
            </small>
        </div>
    </div>
</footer>
